<div *ngIf="data.action ==='Add'">
  <div mat-dialog-content >
    <p>Enter Filename:</p>
    <mat-form-field appearance="fill">
      <mat-label>FileName</mat-label>
      <input matInput [(ngModel)]="fileName"/>
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutGap="5px">
    <button mat-button (click)="emitFileName()">Add 
      <img 
      src="../../../assets/icons/add.svg" 
      ngClass="icon-size"></button>
    <button mat-button (click)="cancel()">Cancel
      <img 
        src="../../../assets/icons/cancel.svg" 
        ngClass="icon-size">
    </button>
  </div>
</div>
 
<div *ngIf="data.action ==='Update'">
  <div mat-dialog-content >
    <p>Update Filename:</p>
    <mat-form-field appearance="fill">
      <mat-label>Current FileName: {{data.fileName}}</mat-label>
      <input matInput [(ngModel)]="fileName"/>
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutGap="5px">
    <button mat-button (click)="emitFileName()">Update
      <img 
        src="../../../assets/icons/update.svg" 
        ngClass="icon-size">
    </button>
    <button mat-button (click)="cancel()">Cancel
      <img 
        src="../../../assets/icons/cancel.svg" 
        ngClass="icon-size">
    </button>
  </div>
</div>
  



