.textarea-size {
  display: block;
  min-width: 600px;
  max-width: max-content;
  min-height: 500px;
  max-height: max-content;
}

.icon-size {
  height: 12px;
  width: 12px;
}

.error-message {
  color: #ff0000;
}