<div fxLayout="column"  fxLayoutGap="20px" fxLayoutAlign="center center">
  <h1>NotePad Application</h1>
  <div fxLayout="row" fxLayoutGap="10px">
    <button (click)="openDialog('Add')">
      Add 
      <img 
        src="../../../assets/icons/add.svg" 
        ngClass="icon-size">
    </button>
    <button (click)="openDialog('Update', selected.value)">
      Update 
      <img 
        src="../../../assets/icons/update.svg" 
        ngClass="icon-size">
    </button>
    <button (click)="deleteTab(selected.value)">
      Delete
      <img 
      src="../../../assets/icons/delete.svg" 
      ngClass="icon-size">
    </button>
    <button (click)="saveTextToFile(selected.value)">
      Save
      <img 
      src="../../../assets/icons/save.svg" 
      ngClass="icon-size">
    </button>
  </div>
  <div *ngIf="errorMessage" ngClass="error-message">{{errorMessage}}</div>
  <form [formGroup]="notepadForm">
    <mat-tab-group (selectedIndexChange)="selected.setValue($event)">
      <mat-tab *ngFor="let tab of tabs" [label]="tab">
        <textarea ngClass="textarea-size" [formControlName]="tab" placeholder="Enter text"></textarea>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>



